.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2fr 1fr;
  gap: 20px 80px;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.125;
  align-self: end;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -100px;
  left: -20px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: var(--light-txt);
}

.introducao img {
  grid-row: 1 / -1;
  align-self: center;
  justify-self: end;
  max-height: 400px;
  width: auto;
}

.portfolio {
  position: relative;
}

.portfolio::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--primary);
  z-index: -1;
  transition: all 0.3s;
}

.portfolio:hover::after {
  height: 100%;
  top: 0%;
}

.portfolio a {
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
  border-bottom: 5px solid var(--primary);
  transition: all 0.2s;
}

.portfolio a:hover {
  color: #fff;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    display: none;
  }
}

@media (max-width: 430px) {
  .introducao {
    grid-template-columns: 70px 1fr;
    gap: 10px 20px;
  }
  .introducao h1 {
    align-self: center;
  }
  .introducao img {
    grid-row: 1;
  }
  .introducao p {
    grid-column: 1 / -1;
  }
}

@media (max-width: 290px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .introducao img {
    display: none;
  }
}
